employees-samples-api/src/main/mule/employees-samples-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fdbdffa2-14f2-4cd6-959f-b22c73eebaf7" >
		<http:listener-connection host="localhost" port="8084" />
	</http:listener-config>
	<flow name="employees-samples-apiFlow" doc:id="00a847b4-2327-4962-908e-25c4bbe810d1" >
		<http:listener doc:name="Listener" doc:id="75067fbc-60da-4775-b87a-2477150bf8cb" config-ref="HTTP_Listener_config" path="/employees/{id}"/>
		<http:request method="GET" doc:name="Employees Response" doc:id="6e4aa4dd-4167-4a6a-bae6-dacf926a87f8" url="http://dummy.restapiexample.com/api/v1/employee/{id}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"id" : attributes.uriParams.id
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="28706081-4558-4f68-ab2b-c36fc2902790" message="#[payload]"/>
		<ee:transform doc:name="Final Message" doc:id="20139b88-c731-47c1-9ff6-fee753cc8902" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
